<!DOCTYPE html>
<html>

<head>
	<title>Staff Details</title>
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<h1>Staff Details</h1>
	<p>ID: <span th:text="${staff.id}"></span></p>
	<p>Name: <span th:text="${staff.name}"></span></p>
	<p>Date of Birth: <span th:text="${staff.dob}"></span></p>
	<p>Address: <span th:text="${staff.address}"></span></p>
	<p>Phone Number: <span th:text="${staff.phoneNumber}"></span></p>
	<p>CID: <span th:text="${staff.cID}"></span></p>
	<p>Description: <span th:text="${staff.description}"></span></p>
</body>

</html>